#https://stackoverflow.com/questions/3719243/best-practices-for-adding-gitignore-file-for-python-projects
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

/env
**/__pycache__/
.vscode

/cache 
/media
script.py
/training

/env
**/__pycache__/
**/.ipynb_checkpoints/
.vscode
.pytest_cache
/cache 
/media
script.py
/training
notebooks/assets/**